.geo-profile {
    background-color: darkslategray;
    margin-top:0px;
}


.geo-profile-photo {
    margin-top: 30px
}
.geo-navbar{
  margin-bottom: 0;
}
.geo-profile-description {
    margin-top: 30px
}

.geo-big-title {}

.geo-body {
    background-color: darkgrey
}
 body {
  }