.geo-profile {
    background-color: darkslategray;
    margin-top:0px;
}


.geo-profile-photo {
    margin-top: 30px
}
.geo-navbar{
  margin-bottom: 0;
}
.geo-profile-description {
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

.geo-big-title {
      color: white;
}

.geo-body {
    background-color: darkgrey
}

.geo-timeline{
    
}


 body {
  }